.backgroundImg{
  width:100vw; display: block; object-fit: cover; background-size: cover;   
  margin-top: 50vh; top:33px; position: sticky;
}

.night{
  width:100vw; display: block; object-fit: cover; background-size: cover; 
  margin-top: 300vh; top:33px; position: sticky;
}

.delivery{
  width:100vw; display: block; object-fit: cover; background-size: cover; 
  margin-top: 300vh; top:33px; position: sticky;
}