body{
  overflow-x: hidden;
}

.background-image{
  width:100%; height:95vh; object-fit:cover; position:fixed; top:50px; left:0;z-index: -1;
}

.night-image{
  width:100%; height:95vh; object-fit:cover; position:fixed; top:50px; left:0;z-index: -1;
}
